<div class="layout layout--row layout--top gap gap--large portrait:hidden">
  <div class="w--[50cqw] h--full">
    {% render 'table' plugins_sorted: plugins_sorted %}
  </div>

  <div class="w--[50cqw] h--full">
    <div class="layout layout--col h--full">
      <div class="w--full stretch-y">
        <div class="flex flex--row flex--between mb--2">
          <div class="px--5 text--center">
            <div class="text--center">
              <span class="value value--small lg:value--base">{{ data.stats.plugins | round: 0 }}</span>
              <br />
              <span class="label label--small lg:label--base">Plugin{% if data.stats.plugins != 1 %}s{% endif %}</span>
            </div>
          </div>
          <div class="px--5">
            <div class="text--center">
              <span class="value value--small lg:value--base">{{ data.stats.connections | round: 0 }}</span>
              <br />
              <span class="label label--small lg:label--base">Connection{% if data.stats.connections != 1 %}s{% endif %}</span>
            </div>
          </div>
          <div class="px--5">
            <div class="text--center">
              <span class="value value--small lg:value--base">{{ data.stats.pageviews | round: 0 }}</span>
              <br />
              <span class="label label--small lg:label--base">Pageview{% if data.stats.pageviews != 1 %}s{% endif %}</span>
            </div>
          </div>
        </div>

        <div class="text--center h--7">
          <span class="description description--small">Plugin Health (All Connections)</span>
        </div>

        <div class="grid grid--cols-1 px--5 w--full">
          <div class="row">
            <div class="grow">
              <div class="bg--error h--4" style="width: {{ data.health.erroring.percent }}%; overflow: hidden;">&nbsp;</div>
            </div>
            <div class="text--right">
              <span class="label label--small lg:label--base">Erroring</span>
              <span>&nbsp;</span>
              <span class="value value--xxsmall lg:value--base">{{ data.health.erroring.percent | round: 0 }}%</span>
            </div>
          </div>
          <div class="row">
            <div class="grow">
              <div class="bg--warning h--4" style="width: {{ data.health.degraded.percent }}%; overflow: hidden;">&nbsp;</div>
            </div>
            <div class="text--right">
              <span class="label label--small lg:label--base">Degraded</span>
              <span>&nbsp;</span>
              <span class="value value--xxsmall lg:value--base">{{ data.health.degraded.percent | round: 0 }}%</span>
            </div>
          </div>
          <div class="row">
            <div class="grow">
              <div class="bg--success h--4" style="width: {{ data.health.healthy.percent }}%; overflow: hidden;">&nbsp;</div>
            </div>
            <div class="text--right">
              <span class="label label--small lg:label--base">Healthy</span>
              <span>&nbsp;</span>
              <span class="value value--xxsmall lg:value--base">{{ data.health.healthy.percent | round: 0 }}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden portrait:block w--full">
  <div class="layout layout--col layout--stretch-x gap w--full">
  <div class="h--[50cqh] overflow-hidden w--full">
    {% render 'table' plugins_sorted: plugins_sorted %}
  </div>

  <div class="h--[25cqh] w--full">
    <div class="text--center h--7">
      <span class="description description--small">Plugin Health (All Connections)</span>
    </div>

    <div class="grid grid--cols-1 px--5 w--full">
      <div class="row">
        <div class="grow">
          <div class="bg--error h--4" style="width: {{ data.health.erroring.percent }}%; overflow: hidden;">&nbsp;</div>
        </div>
        <div class="text--right">
          <span class="label label--small lg:label--base">Erroring</span>
          <span>&nbsp;</span>
          <span class="value value--xsmall lg:value--base">{{ data.health.erroring.percent | round: 0 }}%</span>
        </div>
      </div>
      <div class="row">
        <div class="grow">
          <div class="bg--warning h--4" style="width: {{ data.health.degraded.percent }}%; overflow: hidden;">&nbsp;</div>
        </div>
        <div class="text--right">
          <span class="label label--small lg:label--base">Degraded</span>
          <span>&nbsp;</span>
          <span class="value value--xsmall lg:value--base">{{ data.health.degraded.percent | round: 0 }}%</span>
        </div>
      </div>
      <div class="row">
        <div class="grow">
          <div class="bg--success h--4" style="width: {{ data.health.healthy.percent }}%; overflow: hidden;">&nbsp;</div>
        </div>
        <div class="text--right">
          <span class="label label--small lg:label--base">Healthy</span>
          <span>&nbsp;</span>
          <span class="value value--xsmall lg:value--base">{{ data.health.healthy.percent | round: 0 }}%</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke--medium" src="data:image/svg+xml;base64,{{ logo_svg | base64_encode }}" />
  <span class="title">Updated {{ 'now' | date: '%B %-d, %Y' }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
