<div class="layout layout--column layout--top gap gap--large">
  <div class="w--[50cqw] h--full">
    <table class="table table--condensed" data-table-limit="true">
      <thead>
        <tr>
          <th><span class="title title--small lg:title--base">Plugin</span></th>
          <th class="text--center px--1"><span class="title title--small lg:title--base">State</span></th>
          <th class="text--right px--1"><span class="title title--small lg:title--base">Installs</span></th>
          <th class="text--right px--1"><span class="title title--small lg:title--base">Forks</span></th>
        </tr>
      </thead>
      <tbody>
        {% for plugin in plugins_sorted %}
        <tr>
          <td>
            <span class="label label--small lg:label--base" data-clamp="1">{{ plugin.name }}</span>
          </td>
          <td class="text--center px--1">
            {% if plugin.state == 'healthy' %}
            <span class="label label--small lg:label--base label--outline">{{ plugin.state | capitalize }}</span>
            {% elsif plugin.state == 'degraded' %}
            <span class="label label--small lg:label--base label--inverse">{{ plugin.state | capitalize }}</span>
            {% elsif plugin.state == 'error' %}
            <span class="label label--small lg:label--base label--inverse">{{ plugin.state | capitalize }}</span>
            {% endif %}
          </td>
          <td class="text--right">
            <span class="label label--small lg:label--base">{{ plugin.installs }}</span>
          </td>
          <td class="text--right">
            <span class="label label--small lg:label--base">{{ plugin.forks }}</span>
          </td>
        </tr>
        {% else %}
        <td class="text--center py--10" colspan="4"><span class="title title--base">No plugins for author.</span></td>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="w--[50cqw] column gap--xsmall lg:gap--xlarge">
    <div class="flex flex--row flex--between">
      <div class="px--5 text--center">
        <div class="text--center">
          <span class="value value--small lg:value--base">{{ data.stats.plugins | round: 0 }}</span>
          <br />
          <span class="label label--small lg:label--base">Plugin{% if data.stats.plugins != 1 %}s{% endif %}</span>
        </div>
      </div>
      <div class="px--5">
        <div class="text--center">
          <span class="value value--small lg:value--base">{{ data.stats.connections | round: 0 }}</span>
          <br />
          <span class="label label--small lg:label--base">Connection{% if data.stats.connections != 1 %}s{% endif %}</span>
        </div>
      </div>
      <div class="px--5">
        <div class="text--center">
          <span class="value value--small lg:value--base">{{ data.stats.pageviews | round: 0 }}</span>
          <br />
          <span class="label label--small lg:label--base">Pageview{% if data.stats.pageviews != 1 %}s{% endif %}</span>
        </div>
      </div>
    </div>

    <div class="flex flex--row flex--between">
      <div class="px--5 text--center">
        <div class="text--center">
          <span class="value value--small lg:value--base">{{ data.health.erroring.percent | round: 0 }}%</span>
          <br />
          <span class="label label--small lg:label--base">Erroring</span>
        </div>
      </div>
      <div class="px--5">
        <div class="text--center">
          <span class="value value--small lg:value--base">{{ data.health.degraded.percent | round: 0 }}%</span>
          <br />
          <span class="label label--small lg:label--base">Degraded</span>
        </div>
      </div>
      <div class="px--5">
        <div class="text--center">
          <span class="value value--small lg:value--base">{{ data.health.healthy.percent | round: 0 }}%</span>
          <br />
          <span class="label label--small lg:label--base">Healthy</span>
        </div>
      </div>
    </div>
    <!-- Status Chart -->
    {% if data.health %}
    <div class="flex flex--row gap--none my--2 rounded rounded--base">
      <div class="bg--black" style="width: {{data.health.erroring.percent }}%; overflow: hidden;">
        <span class="label label--small lg:label--base p--2 text--white">Erroring</span>
      </div>
      <div class="bg--gray-25" style="width: {{data.health.degraded.percent }}%; overflow: hidden;">
        <span class="label label--small lg:label--base p--2 text--white">Degraded</span>
      </div>
      <div class="bg--gray-75" style="width: {{data.health.healthy.percent }}%; overflow: hidden;">
        <span class="label label--small lg:label--base p--2">Healthy</span>
      </div>
    </div>
    {% endif %}

  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke--medium" src="data:image/svg+xml;base64,{{ logo_svg | base64_encode }}" />
  <span class="title">Updated {{ 'now' | date: '%B %-d, %Y' }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>

</script>
